html {
    font-family: 'Josefin Sans', 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #353A3F;


}

html,
body {
    color: #110934;
}

h1 {
    font-family: 'Cardo', 'Times New Roman', serif;
    font-size: 55px;
    font-weight: bolder;
    padding: 1rem 3rem;
    color: #222529;
}

cars {
    background-color: #0247FE;
}
p {
    padding: 1rem 3rem;
}

h2 {
    font-family: 'Cardo', 'Times New Roman', serif;
    font-size: 27px;
    color: #222529;
    font-weight: bold;
    margin-right: 8px;
}

h3 {
    font-family: 'Cardo', 'Times New Roman', serif;
    font-size: 24px;
    color: #110934;
    font-weight: bold;
}

nav li:hover {
    font-weight: bolder;
    color: white;
}

nav li > a {
    display: block;
    text-decoration: none;
    padding: 0.2rem 2rem;
    }
    .footer-social-icons {
        width: 350px;
        display:block;
        margin: 0 auto;
        display:inline;
        float: right;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        margin-top: 10px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 100px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
    .fa-facebook {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #110934;
    }
    .fa-facebook:hover {
        background-color: #3d5b99;
    }
    .fa-twitter {
        padding:10px 12px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #110934;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-rss {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #110934;
    }
    .fa-rss:hover {
        background-color: #eb8231;
    }
    .fa-youtube {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #110934;
    }
    .fa-youtube:hover {
        background-color: #e64a41;
    }
    .fa-linkedin {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #110934;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-google-plus {
        padding:10px 9px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #110934;
    }
    .fa-google-plus:hover {
        background-color: #e25714;
    }


footer {
    background-color: #353A3F;
    color: #fff;
    clear: both;
    width: 100%;
    }

footer p {
    font-size: 1rem;
    padding: 2rem;
    color: #D4EDF7;
    font-weight: bolder;
    display: block;
    margin: auto;
}

footer img {
    padding: 30px;
    margin: auto;
    float: right;
}

form {
    margin: 42px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.50%;
}

.footer-container
{
    text-align:center;
    background-color: #110934;
}

.copyright {
    margin-top: 10px;
    margin-left: 10px;
    display:inline;
    float: left;
}

.ml-auto, .mx-auto {
    margin-left: unset!important;
}
